.header-bg {
    background-color: #1877f2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    position: sticky;
    top: 0;
}

.header img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 99px;
}

.header h2 {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    margin-left: 10px;
    margin: 0;
}

.header h2 a {
    text-decoration: none;
    color: white;
}

a {
    color: white;
    text-decoration: none !important;
    display: flex;
    align-items: center;
}

span {
    padding: 5px;
}