<div class="main container">
  <h1>News Feed</h1>
  <div class="post-list">
    <div *ngFor="let post of posts">
      <div class="author">{{ post.nauthor }} {{ post.lauthor }}</div>
      <div class="content">{{ post.content }}
        <img src="assets/pencil.svg" alt="pencil" type="button" class="edit-button" (click)="EditPost(post.id)">
        <img src="https://cdn-icons-png.flaticon.com/512/4812/4812459.png" alt="delete" type="button" class="delete-button" (click)="DeletePost(post.id)">
      </div>
    </div>
    <app-add-post (newPostEvent)="AddNewPost($event)" [isEditMode]="editMode"
      [selectedPost]="selectedPost"></app-add-post>
  </div>
</div>