.main {
    height: calc(100vh - 60px);
    position: relative;
}

h1 {
    padding-top: 10px;
}

.author {
    font-weight: bold;
    margin-bottom: 10px;
}

.content {
    margin-bottom: 10px;
}

.post-list {
    max-height: 75vh;
    overflow-y: auto;
    padding: 10px;
}

.delete-button{
    width: 30px;
    height: 30px;
    
}