.home-page{
    display: flex;
    flex-direction: row-reverse;
    height: 90vh;
}

.sidebar {
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    overflow-y: auto;
    padding: 10px;
}

.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.sidebar a:hover {
    background-color: #ddd;
}

.main {
    padding: 20px;
    margin: 0px auto;
}

.main h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.main .post {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.main .post .author {
    font-weight: bold;
    margin-bottom: 10px;
}

.main .post .content {
    margin-bottom: 10px;
}

.main .post .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .post .actions button {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
}